<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Login page</title>
  </head>
  <body>
    <h1>Welcome in the best website ever</h1>

    <form action="/login" method="POST">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="enter your email"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="enter your password"
          required
        />
      </div>
      <button type="submit" value="login">Login here</button>
    </form>
  </body>
</html>
